.footer{
  background-color: var(--colors-gray-800);
  border-top: 2px solid var(--colors-secondary);
  box-shadow: 0 0px 20px 5px rgba(0,0,0,0.3);
  color: var(--colors-gray-light);
  padding: 1rem;
}
.copyright {
  text-align:center;
  font-size: 0.8rem;
  padding-top: 0.5rem;
}