@import '../includes';

.sidebar{
  overflow-y: auto;
  background-color: var(--colors-gray-900);
  max-width:0;
  width:100%;
  min-height:100vh;
  transition: 0.3s all ease-out;
  overflow-x:hidden;
  z-index:2;
  &.open {
    max-width:16.5rem;
  }
  .inner{
    width: 16.5rem;
    max-width:16.5rem;
    display:flex;
    flex-direction: column;
  }
  @include for-phone-only {
    position:fixed;
    margin-top: 4rem;
    width:100vw;
    .inner {
      width:100vw;
      max-width:100vw;
    }
    &.open {
      max-width:100vw;
    }
  }
  .navArea {
    padding: 0 0 7rem 0;
  }
}

.navSection {
  padding: 0;
}
