// Direct load of Google fonts did not work in Vercel
// @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

@font-face {
  font-family: 'Roboto Slab';
  src: url(fonts/RobotoSlab-Regular.woff2) format('woff2'),
    url(fonts/RobotoSlab-Regular.woff) format('woff'),
    url(fonts/RobotoSlab-Regular.eot) format('eot');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000 to U+007F;
}

@font-face {
  font-family: 'Roboto Slab';
  src: url(fonts/RobotoSlab-Bold.woff2) format('woff2'),
    url(fonts/RobotoSlab-Bold.woff) format('woff'),
    url(fonts/RobotoSlab-Bold.eot) format('eot');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0000 to U+007F;
}

@import 'includes';
@import "react-datepicker/dist/react-datepicker.css";

:root {
  // FONTS
  --font-headline: 'Roboto Slab', serif;
  --font-base: 'Work Sans', sans-serif;

  // COLORS
  --colors-modal-bg: rgba(0,0,0,0.75);
  --colors-bsa-red: #ed1c24;
  --colors-bsa-blue: #2e3192;
  --colors-primary: #ed1c24;
  --colors-primary-focus: #d1181e;
  --colors-secondary: #2e3192;
  --colors-secondary-focus: #3d41b3;

  --colors-gray-100: #eee;
  --colors-gray-200: #ddd;
  --colors-gray-300: #bbb;
  --colors-gray-400: #999;
  --colors-gray-500: #888;
  --colors-gray-600: #777;
  --colors-gray-700: #555;
  --colors-gray-800: #444;
  --colors-gray-900: #333;
  
  --colors-gray-lightest: #eee;
  --colors-gray-lighter: #ddd;
  --colors-gray-light: #aaa;

  @media (prefers-color-scheme: dark) {
    --colors-primary: #921317;
    --colors-primary-focus: #bc2127;
    --colors-secondary: #242676;
    --colors-secondary-focus: #3234a5;
  
    --colors-gray-lightest: #ddd;
    --colors-gray-lighter: #bbb;
    --colors-gray-light: #999;
    
    --colors-gray-100: hsl(0, 0%, 45%);
    --colors-gray-200: hsl(0, 0%, 40%);
    --colors-gray-300: hsl(0, 0%, 35%);
    --colors-gray-400: hsl(0, 0%, 30%);
    --colors-gray-500: hsl(0, 0%, 25%);
    --colors-gray-600: hsl(0, 0%, 20%);
    --colors-gray-700: hsl(0, 0%, 15%);
    --colors-gray-800: hsl(0, 0%, 10%);
    --colors-gray-900: hsl(0, 0%, 5%);
  }
}

html,
body {
  font-size:16px;
  padding: 0;
  margin: 0;
  font-family: var(--font-base);
  color: var(--colors-gray-lightest);
  &.modal-open {
    overflow: hidden;
    position: fixed;
  }  
}

textarea:active, input:active,
textarea:focus, input:focus{ outline: none }

body {
  background: var(--colors-gray-700);
  line-height:1.2
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
  margin:0;
  padding:0;
  line-height: 1;
  font-family: var(--font-headline);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

img.responsive {
  width:100%;
  height:auto;
}

img.framed {
  border-radius: 6px;
  border:2px solid var(--colors-primary);
}

.container-md {
  width:100%;
  max-width: 512px;
  margin-left:auto;
  margin-right:auto;
  padding-left:1rem;
  padding-right:1rem;
}

.container-lg {
  width:100%;
  max-width: 768px;
  margin-left:auto;
  margin-right:auto;
  padding-left:1rem;
  padding-right:1rem;
}

.container-xl {
  width:100%;
  max-width: 1024px;
  margin-left:auto;
  margin-right:auto;
  padding-left:1rem;
  padding-right:1rem;
}

.cursor-pointer {
  cursor: pointer;
}

// Align

.text-center {
  text-align: center;
}

// LAYOUT
.flex {
  display:flex;
}

code{
  background: rgba(0,0,0,0.5);
  padding:0 0.5rem;
}
.flex-space-between{
  display:flex!important;
  justify-content: space-between;
  align-items: center;
  width:100%;
}

.center-wrap {
  display:flex;
  justify-content: center;
  align-items: center;
  min-height:100vh;
}

.pageTitle {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.scaleHover {
  cursor:pointer;
  display:inline-block;
  transition: 0.2s transform ease-in-out;
  &:hover{
    transform:scale(1.2);
  }
}
.modal{
  z-index:100;
}

.error {
  font-weight: bold;
  color: var(--colors-bsa-red);
}

.react-datepicker__input-container input {
  font-size: 1rem;
  width:100%;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  border: 2px solid var(--colors-gray-500);
  background-color: var(--colors-gray-700);
  transition: 0.3s border-color ease-out;
  &:focus {
    border-color: var(--colors-primary);
  }
}

@import 'global-includes/card.scss';
@import 'global-includes/table.scss';
@import 'global-includes/spacing.scss';
@import 'global-includes/grid.scss';
