.navSectionTitle {
  font-family: var(--font-headline);
  padding-bottom: 0.75rem;
  font-size: 1.75rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  transition:0.2s color ease-in-out;
  &:hover{
    color: white;
  }
}

.chevron{
  width: 2rem;
  height:2rem;
  transform: rotate(0deg);
  transition: 0.2s transform ease-in-out;
  svg path {
    transition: 0.2s fill ease-in-out;
    fill: var(--colors-gray-300);
  }
  &.active{
    transform: rotate(90deg);
    svg path {
      fill: var(--colors-primary-focus);
    }
  }
}
.iconWrap{
  width:1.5rem;
  height:1.5rem;
  display:inline-block;
  margin-right:0.5rem;
  svg {
    path {
      fill: var(--colors-gray-lightest);
    }
  }
}
