.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  .card-header {
    background-color: var(--colors-primary);
    padding: 1rem;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    font-family: var(--font-headline);
    font-size:1.5rem;
  }
  .card-body {
    background-color: var(--colors-gray-800);
    padding: 1rem;
  }
  .card-actions {
    text-align:right;
    background-color: var(--colors-gray-800);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border-top: 2px solid var(--colors-gray-900);
    padding: 1rem;
    box-shadow: 0 -2px 0 inset rgba(255,255,255,0.2);
  }
}

.card-outline{
  padding: 1rem;
  border: 1px solid var(--colors-gray-300);
  border-radius: 0.5rem;
}